.MyNavbar {
display: block;
color:red;
text-align: center;
}

.logo{
  height:200px;
  width: 300px;
}

.navbar-brand{
  font-size: 56px;
    
    padding-top: 10px;
    text-transform: uppercase;
    color: red;
    text-align: center;
    font-family: cursive;
   }